body {
    margin: 0;
    padding: 0;
    background-color: #0066FF;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family: "Trebucher MS", sans-serif;
}

header {
    color: rgb(255, 255, 255);
    height: 150px;
    display: flex;
    align-items: center;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
}

.input-container {
    width: 100%;
    max-width: 650px;
    position: relative;
}

#submit-icon {
    position: absolute;
    top: 10px;
    right: 30px;
}